* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin: 3% auto;
}

.bookcard {
  margin: 0 auto;
  width: 80%;
  background-color: lightslategray;
}

.card {
  background-color: #efefef;
}

.badge {
  cursor: pointer;
}

.read-book {
  background-color: forestgreen;
}

.error-field {
  background-color: tomato;
  min-height: 3em;
  width: 40%;
  color: #fff;
  border: 2px solid tomato;
  padding: 12px;
  position: absolute;
  text-align: center;
  top: 10%;
  right: 4%;
  z-index: 2;
}

/* Form Area */
@media screen and (max-width: 768px) {
  .bookcard {
    display: block;
  }
}
